                            /* 1st section */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: rgba(3, 53, 56, 0.822);
}

.banner_sec h1{
    border-left: 6px solid rgba(0, 255, 255, 0.24);
    border-radius: 6px;
    padding-left: 2%;
}

.txt_clr{
    color: rgba(180, 20, 220, 0.39);
}

.btn{
    margin-top: 5%;
    padding: 8px;
    width: 32%;
    text-align: center;
    background-color: rgba(220, 20, 60, 0.247);
    border-radius: 5px;
    transition: width .5s;
}
.btn:hover{
    width: 36%;
    background-color: rgba(220, 20, 103, 0.397);
}

.flexible{
    display: flex;
    background-repeat: no-repeat;
    background-position: bottom;

}
.banner_sec{
    width: 50%;
    margin-left: 10%;

}
.banner_sec img{
    width: 80%;
    margin-top: 17%;
}

/* @@@@@@@@@@@@@@@@@@@@ */

                                    /* 2nd section */

.header
{
    margin-top: 60px;
}
.header h1{
    font-size: 30px;
    text-align: center;
} 

.card{
    width: 30%;
    margin-left: 5.5%;
    background-color: rgba(220, 20, 60, 0.438);
    border-radius: 12px;
    padding: 3%;
}

.card img{
    width: 40%;
    
}
.card p{
    font-weight: lighter;
    font-size: smaller;
    margin-top: 0px;
}
.container{
    padding: 5%;
}
#yellow_bg{
    background-color: rgba(163, 20, 220, 0.356);
}
#orange_bg{
    background-color: rgba(20, 213, 220, 0.432);

}

/* $$$$$$$$$$$$$$$$$$$$$$$$$ */


                                    /* 3rd section */

.third_sec{
    margin-top: 5%;
}
.third_sec_left{
    width: 35%;
    margin-left: 11%;

}
.third_sec_left img{
    width:100%;
}

.third_sec_right{
    width: 60%;
    padding: 20px 20px;
 
}

                                /* 4th section */

.forth_sec{
    margin-top: 10%;
}
.forth_sec_left{
    width: 60%;
    margin-left: 11%;

}
.forth_sec_right img{
    width:100%;
}

.forth_sec_right{
    width: 35%;
    padding: 20px 20px;
 
}

                                    /* 5th section */

.creative{
    display: flex;
    width: 100%;
}
.creative .img{
    display: flex;
    width:60%; 
    margin-left: 10%;  
    padding: 2%;
}

.creative .content{
    width: 20%;
    padding: 4px;
}

.creative .img .card1{
    width: 30%;
    margin: 0;
    background-color: rgba(211, 19, 12, 0.329);
    margin-left: 2%;
    box-shadow: -4px -4px  10px rgb(18, 18, 19);
    border-radius: 5px;
    
}
.card1:hover{
    background-color: rgba(13, 16, 212, 0.726);

}







                                    /* footer section*/


footer{
    position: relative;
    left: 0;
    margin-top:20% ;
    margin-bottom: 0px;
    width: 100%;
    background-color: rgba(13, 14, 14, 0.493);
    color: white;
    padding-top: 5%;
   
}
footer h2 {

    font-style: italic;
    color: rgb(238, 238, 232);
    text-align: center;
}

footer p{
    color: rgba(201, 195, 195, 0.753);
    text-align: center;
}